*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,input{
    font-family: 'Inter';
}
.container{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: #fff;
    overflow: hidden;
}
.container::before{
    content: '';
    position: absolute;
    width: 2000px;
    height: 2000px;
    border-radius: 50%;
    background:  linear-gradient(180deg, #2F4858 0%, #00A19D 100%);
    top: -10%;
    right: 48%;
    transform: translateY(-50%);
}
.form-container{
    position: absolute;
    width: 100%;
    height:100%;
    top: 0;
    left: 0;
}
.masuk-daftar{
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    width: 50%;
    display: grid;
    grid-template-columns: 1fr;
}
form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 5rem;
    overflow: hidden;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
form.sign-in-form{
    z-index: 2;
}
form.sign-up-form{
    z-index: 1;
    opacity: 0;
}
.title{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 5px;
}
.title-2{
    font-size: 1.1rem;
    font-weight: normal;
    margin-bottom: 10px;
}
.input-field{
    max-width: 380px;
    width: 100%;
    height: 55px;
    background-color: #f0f0f0;
    margin: 10px 0;
    border: 1px solid #00A19D;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 .4rem;
}
.input-field i{
    text-align: center;
    line-height: 55px;
    color: #00A19D;
    font-size: 1.1rem;
}
.input-field input{
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;
}
.input-field input::placeholder{
    color: #00A19D;
    font-weight: 500;
}
.btn-solid{
    text-align: center;
    width: 150px;
    height: 49px;
    border: none;
    outline: none;
    border-radius: 15px;
    cursor: pointer;
    background:  linear-gradient(180deg, #2F4858 0%, #00A19D 100%);
    color: #fff;
    font-weight: 600;
    margin: 10px 0;
    transition: .5s;
}
.btn-solid:hover{
    background-color: #037e7c;
}
.social-text{
    padding: .7rem 0;
    font-size: 1rem;
}
.social-media{
    display: flex;
    justify-content: center;
}
.social-icon{
    height: 46px;
    width: 46px;
    border: 1px solid #333;
    margin: 0 0.45rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #333 ;
    font-size: 1.1rem;
    border-radius: 50%;
    transition: 0.3s;
}
.social-icon:hover{
    color:#00A19D ;
    border-color: #00A19D;
}
.daftar{
    padding: .7rem 0;
    font-size: 1rem;
}

.btn-solid {
    width: 150px;
    height: 49px;
    border: none;
    outline: none;
    border-radius: 15px;
    cursor: pointer;
    background:  linear-gradient(180deg, #2F4858 0%, #00A19D 100%);
    color: #fff;
    font-weight: 600;
    margin: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;
	text-decoration: none;
	transition: 0.6%;
}
.panel-container{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #00A19D;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.panels-container{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.panel{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    text-align: center;
}

.image{
    width: 100%;
}
