@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Montserrat:wght@500&family=Poppins:wght@500&display=swap");
body {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
::placeholder {
  color: #00a19d;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #00a19d;
}

::-ms-input-placeholder {
  color: #00a19d;
}

.h-max {
  max-height: 100vh;
}
.overflow-hidden {
  overflow: hidden;
}
.order-1 {
  order: 1;
}
.order-2 {
  order: 2;
}
.flex-1 {
  flex: 1 1 0%;
}
.font-poppins {
  font-family: "Poppins", sans-serif;
}
.font-montserrat {
  font-family: "Montserrat", sans-serif;
}
.font-inter {
  font-family: "Inter", sans-serif;
}
.container {
  padding: 0px 40px;
}
.header-golektukang {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 90vw;
}
.header-golektukang ._logo {
  display: flex;
  align-items: center;
}
.header-golektukang ._logo img {
  width: 50px;
  height: 50px;
}
.header-golektukang ._menu ul {
  display: flex;
  align-items: center;
}
.header-golektukang ._menu ul li {
  list-style: none;
  margin: auto 10px;
}
.pengguna-golektukang {
  display: flex;
  justify-content: space-between;
  width: 100vw;
}
.pengguna-golektukang ._side-image {
  width: 50%;
}
.pengguna-golektukang ._side-image img {
  height: 110vh;
  width: 100%;
}
.pengguna-golektukang ._side-form {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pengguna-golektukang ._side-form ._form {
  padding-top: 50px;
  padding-left: 100px;
  padding-right: 10px;
}
.pengguna-golektukang ._side-form ._form ._head {
  width: 70%;
}
.pengguna-golektukang ._side-form ._form ._input-form-group {
  display: flex;
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
}
.pengguna-golektukang ._side-form ._form ._input-form-group div {
  position: absolute;
  top: 25%;
  left: 12px;
}
.pengguna-golektukang ._side-form ._form ._input-form-group div svg {
  width: 18px;
}
.pengguna-golektukang ._side-form ._form ._input-form-group input {
  width: 62%;
  outline: none;
  border: 1px solid #00a19d;
  border-radius: 10px;
  height: 2.5rem;
  padding-left: 40px;
  color: #00a19d;
}

.pengguna-golektukang ._side-form ._form ._select-form-group {
  display: flex;
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
}
.pengguna-golektukang ._side-form ._form ._select-form-group div {
  position: absolute;
  top: 25%;
  left: 12px;
}
.pengguna-golektukang ._side-form ._form ._select-form-group div svg {
  width: 18px;
}
.pengguna-golektukang ._side-form ._form ._select-form-group select {
  width: 70%;
  outline: none;
  border: 1px solid #00a19d;
  border-radius: 10px;
  height: 2.5rem;
  padding-left: 40px;
  color: #00a19d;
}

.pengguna-golektukang ._side-form ._form ._password-form-group {
  display: flex;
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 70%;
}
.pengguna-golektukang ._side-form ._form ._password-form-group div.first {
  position: absolute;
  top: 10%;
  left: 12px;
}
.pengguna-golektukang ._side-form ._form ._password-form-group div.second {
  position: absolute;
  top: 25%;
  right: 12px;
}
.pengguna-golektukang ._side-form ._form ._password-form-group div svg {
  width: 18px;
}
.pengguna-golektukang ._side-form ._form ._password-form-group input {
  width: 100%;
  outline: none;
  border: 1px solid #00a19d;
  border-radius: 10px;
  height: 2.5rem;
  padding-left: 40px;
  color: #00a19d;
}
.pengguna-golektukang ._side-form ._aggree {
  display: flex;
  align-items: center;
}
.pengguna-golektukang ._side-form ._aggree p {
  font-size: 0.7rem;
}
.pengguna-golektukang ._side-form ._aggree p span {
  color: #00a19d;
}
.pengguna-golektukang ._side-form ._btn-submit button {
  width: 70%;
  height: 3rem;
  outline: none;
  border: none;
  border-radius: 10px;
  background: linear-gradient(180deg, #2f4858 0%, #00a19d 100%);
  color: white;
  font-weight: bold;
}
.pengguna-golektukang ._side-form ._ask-label {
  width: 70%;
}
.pengguna-golektukang ._side-form ._ask-label p {
  font-size: 0.7rem;
  text-align: center;
}
.pengguna-golektukang ._side-form ._ask-label p span {
  color: #00a19d;
}