*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,input{
    font-family: 'Inter',sans-serif;
}
.container{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: #fff;
    overflow: hidden;
}
.form-container{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}
form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}